<%- include('../head.ejs') %>
<!-- Dont delete it -->
<div class="row m-0 p-0">
  <div class="col m-0 p-0 sidebar-inner">
    <p>DASHBOARD</p>
    <ul class="sidebar-inner-item">
      <li class="active">
        <a href="">Dashboard</a>
      </li>
    </ul>
  </div>
  <div class="col container-content">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
      </ol>
    </nav>
    <!-- Dont delete it -->

    <!-- Konten dibawah -->

    <script src="/assets/js/script.js"></script>

    <%- include('../footer.ejs') %>
  </div>
</div>
