<%- include('head.ejs') %>

<div
  class="d-flex m-auto text-center"
  style="min-height: 70vh; flex-direction: column"
>
  <div class="m-auto">
    <h1>Error !</h1>
    <p>Message : <%= message %></p>
  </div>
</div>

<%- include('footer.ejs') %>
